*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comidas-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: #fffbed;
  border-radius: 8px;
}